.ng-calendar__calendar {
  position: relative;
  height: 100%;
}

.ng-calendar__calendar-event {
  position: absolute;
  background-color: white;
  border: 1px solid var(--gray);
  border-left: 5px solid var(--teal);
}
